.bloop-bloop-shop {
  
  tel {
    font-family: $font-system;
    display: inline;
    font-weight: 300;
    font-size: 0.8em;
  }

  #main-title {
    font-size: 2.2em;
    font-family: $font-headings-page-title;
    line-height: 1;
    margin-top: 1em;
    margin-bottom: 2em;
    .tagline {
      font-family: $font-headings;
      font-size: 0.8em;
      margin-top: 0.2em;
      display: block;
      font-weight: normal;
      
      .wf-loading &, .wf-inactive & {
        letter-spacing: -0.03em;
        font-weight: 200;
        line-height: 1.1;
      }
    }
    
    .wf-loading &, .wf-inactive & {
      letter-spacing: -0.03em;
      font-weight: 900;
      font-size: 1.9em;
      line-height: 1.4;
    }
  }

  .content {
    font-size: 0.9em;
    line-height: 1.25;
    ul {
      padding-left: 0;
      margin-left: 1em;
      > li {
        margin-bottom: 0.5em;
      }
    }
  }

  h1 {
    @include responsive-break-point(768px) {
      text-align: center;
    }
    margin-top: 2em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.4em;
    line-height: 1.1;
  }

  h2 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2em 0;
    line-height: 1.1;
  }

  .img-responsive {
    width: 100%;
    height: auto;
    display: block;
  }

  .text-center {
    text-align: center;
  }

  .demo-images {
    .demo-image {
      position: relative;
      height: 0;
      width: 100%;
      padding-bottom: 172.79%;
      background-color: #ccc;
      margin-bottom: 10px;
      
      @include responsive-break-point(768px) {
        width: 48%;
        padding-bottom: (172.79 * .48) + 0%;
      }
      
      .legend {
        position: absolute;
        text-align: center;
        width: 85%;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
      }
      &.light-text {
        .legend {
          &, a {
            color: white;
          }
        }
      }
    }
  }

  @include responsive-break-point(768px) {
    .left {
      float: left;
    }
    .right {
      float: right;
    }

    .demo-images {
      @include clearfix;
    }
    
    .clearfix {
      @include clearfix;
    }
    
    .two-columns {
      .left, .right {
        width: 40%;
      }
    }
    
    .psl-embed {
      display: flex;
      flex-direction: row;
      
      .left, .right {
        float: none;
        flex: 1;
        width: auto;
      }
    }
  }
  
  .psl-embed h3 {
    margin-bottom: 1rem;
  }
  
  .psl-embed-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .psl-embed .right {
    max-width: 60%;
    margin: 0 auto;
  }

  .clarification {
    background: transparentize($color-highlight, 0.7);
    padding: 1em;
  }

  @media (max-width: 768px) {
    .hide-mobile {
      display: none;
    }
  }

  .byline {
    font-size: 1.2em;
    font-weight: italic;
    margin-top: -3em;
    @include responsive-break-point(768px) {
      text-align: center;
    }
    margin-bottom: 3em;
  }

}
