.nowrap {
  white-space: nowrap; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  font-size: 18px; }

.wf-loading *, .wf-inactive * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important; }

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background-color: #FFF;
  color: #645430;
  font-family: "freight-sans-pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.2rem;
  line-height: 1.5em;
  position: relative; }

a {
  color: #bb5400;
  margin: -.2rem;
  padding: .2rem;
  text-decoration: underline; }
  a:visited {
    color: #bb5400; }
  a:hover {
    color: #bb5400;
    text-decoration: underline; }
  a:active {
    color: #645430; }

.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1;
  margin: 0 auto;
  position: relative;
  width: 100%; }
  .content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

h1, h2 {
  font-family: "freight-sans-pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900; }

h1 {
  font-size: 3rem;
  line-height: 3.2rem;
  font-weight: 100; }

h2 {
  font-size: 1.5rem;
  line-height: 1.9rem;
  font-weight: normal; }

h3 {
  font-size: 1.2rem; }

.content {
  padding: 5vh 0.8rem; }
  .content h1 {
    margin-bottom: 2.5rem; }
  .content h2 {
    margin-top: 3rem;
    margin-bottom: 0.5rem; }
  .content p {
    margin-bottom: 0.5rem; }
  .content ul {
    padding-left: 1.6rem;
    margin-bottom: 1rem; }

ul.get-started-checklist {
  margin: 0 auto;
  list-style: none;
  font-style: normal; }
  ul.get-started-checklist li {
    margin: 0.5em 0;
    margin-left: 2em;
    display: inline-block;
    position: relative; }
    ul.get-started-checklist li:before {
      content: '';
      display: block;
      position: absolute;
      width: 1.5em;
      height: 1.5em;
      -webkit-border-radius: 0.75em;
      -moz-border-radius: 0.75em;
      -o-border-radius: 0.75em;
      border-radius: 0.75em;
      left: -2em;
      top: -0.2em;
      background: #f7f4ee; }
    ul.get-started-checklist li:after {
      /*Add another block-level blank space*/
      content: '';
      display: block;
      position: absolute;
      left: -1.5em;
      top: 0em;
      /*Make it a small rectangle so the border will create an L-shape*/
      width: 0.3em;
      height: 0.7em;
      /*Add a white border on the bottom and left, creating that 'L' */
      border: solid #000;
      border-width: 0 0.2em 0.2em 0;
      /*Rotate the L 45 degrees to turn it into a checkmark*/
      transform: rotate(45deg); }

a.link-alt-lang {
  position: absolute;
  top: 0.7em;
  right: 1.5em;
  font-size: 0.8em;
  font-weight: 600;
  text-decoration: none;
  z-index: 1; }

@media only screen and (min-width: 640px) {
  html {
    background-color: rgba(204, 187, 148, 0.1); }

  body {
    margin: 3rem;
    font-size: 1.4rem;
    border: 0.2rem rgba(100, 84, 48, 0.1) solid;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    background: white; }

  .content {
    padding: 10vh 2rem;
    max-width: 50rem;
    margin: 0 auto; }
    .content ul {
      padding-left: 0; } }
@media only screen and (min-width: 800px) {
  .content {
    padding: 15vh 4rem; } }
@media screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; } }
/* MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */
#mc_embed_signup form {
  display: block;
  position: relative;
  text-align: left;
  padding: 10px 0 10px 3%; }

#mc_embed_signup h2 {
  font-weight: bold;
  padding: 0;
  margin: 15px 0;
  font-size: 1.4em; }

#mc_embed_signup input {
  border: 1px solid #ABB0B2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

#mc_embed_signup input[type=checkbox] {
  -webkit-appearance: checkbox; }

#mc_embed_signup input[type=radio] {
  -webkit-appearance: radio; }

#mc_embed_signup input:focus {
  border-color: #333; }

#mc_embed_signup .button {
  clear: both;
  background-color: #aaa;
  border: 0 none;
  border-radius: 4px;
  transition: all 0.23s ease-in-out 0s;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 0 22px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto; }

#mc_embed_signup .button:hover {
  background-color: #777; }

#mc_embed_signup .small-meta {
  font-size: 11px; }

#mc_embed_signup .nowrap {
  white-space: nowrap; }

#mc_embed_signup .mc-field-group {
  clear: left;
  position: relative;
  width: 96%;
  padding-bottom: 3%;
  min-height: 50px; }

#mc_embed_signup .size1of2 {
  clear: none;
  float: left;
  display: inline-block;
  width: 46%;
  margin-right: 4%; }

* html #mc_embed_signup .size1of2 {
  margin-right: 2%;
  /* Fix for IE6 double margins. */ }

#mc_embed_signup .mc-field-group label {
  display: block;
  margin-bottom: 3px; }

#mc_embed_signup .mc-field-group input {
  display: block;
  width: 100%;
  padding: 8px 0;
  text-indent: 2%; }

#mc_embed_signup .mc-field-group select {
  display: inline-block;
  width: 99%;
  padding: 5px 0;
  margin-bottom: 2px; }

#mc_embed_signup .datefield, #mc_embed_signup .phonefield-us {
  padding: 5px 0; }

#mc_embed_signup .datefield input, #mc_embed_signup .phonefield-us input {
  display: inline;
  width: 60px;
  margin: 0 2px;
  letter-spacing: 1px;
  text-align: center;
  padding: 5px 0 2px 0; }

#mc_embed_signup .phonefield-us .phonearea input, #mc_embed_signup .phonefield-us .phonedetail1 input {
  width: 40px; }

#mc_embed_signup .datefield .monthfield input, #mc_embed_signup .datefield .dayfield input {
  width: 30px; }

#mc_embed_signup .datefield label, #mc_embed_signup .phonefield-us label {
  display: none; }

#mc_embed_signup .indicates-required {
  text-align: right;
  font-size: 11px;
  margin-right: 4%; }

#mc_embed_signup .asterisk {
  color: #e85c41;
  font-size: 150%;
  font-weight: normal;
  position: relative;
  top: 5px; }

#mc_embed_signup .clear {
  clear: both; }

#mc_embed_signup .mc-field-group.input-group ul {
  margin: 0;
  padding: 5px 0;
  list-style: none; }

#mc_embed_signup .mc-field-group.input-group ul li {
  display: block;
  padding: 3px 0;
  margin: 0; }

#mc_embed_signup .mc-field-group.input-group label {
  display: inline; }

#mc_embed_signup .mc-field-group.input-group input {
  display: inline;
  width: auto;
  border: none; }

#mc_embed_signup div#mce-responses {
  float: left;
  top: -1.4em;
  padding: 0em .5em 0em .5em;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
  clear: both; }

#mc_embed_signup div.response {
  margin: 1em 0;
  padding: 1em .5em .5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 80%; }

#mc_embed_signup #mce-error-response {
  display: none; }

#mc_embed_signup #mce-success-response {
  color: #529214;
  display: none; }

#mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: .5em 0; }

#mc-embedded-subscribe {
  clear: both;
  width: auto;
  display: block;
  margin: 1em 0 1em 5%; }

#mc_embed_signup #num-subscribers {
  font-size: 1.1em; }

#mc_embed_signup #num-subscribers span {
  padding: .5em;
  border: 1px solid #ccc;
  margin-right: .5em;
  font-weight: bold; }

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  display: inline-block;
  margin: 2px 0 1em 0;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: normal;
  z-index: 1;
  color: #e85c41; }

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
  border: 2px solid #e85c41; }

body #mc_embed_signup {
  padding: 1em;
  background: rgba(253, 234, 152, 0.3);
  border-radius: 0.3em;
  margin: 1em 0 2em;
  box-sizing: border-box; }
  body #mc_embed_signup, body #mc_embed_signup .button, body #mc_embed_signup input.email, body #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    font: inherit; }
  body #mc_embed_signup .button {
    height: auto;
    white-space: normal;
    line-height: 1.2;
    padding: 0.3em 0.7em;
    background-color: #db7c2c;
    -webkit-appearance: none;
    border-radius: 4px; }
    body #mc_embed_signup .button:hover {
      background-color: #b5641f; }
  body #mc_embed_signup div#mce-responses {
    padding: 0;
    margin: 0; }
  body #mc_embed_signup div.response {
    margin: 0 0 1em;
    padding: 0; }
  body #mc_embed_signup .mc-field-group {
    margin-bottom: 10px;
    width: 100%; }
    body #mc_embed_signup .mc-field-group label {
      font-size: 0.7em;
      text-transform: uppercase;
      font-weight: 500;
      color: #666666;
      margin-bottom: -2.4em;
      margin-left: 23px;
      padding-right: 23px; }
      body #mc_embed_signup .mc-field-group label .quiet {
        text-transform: none;
        color: #999999; }
    body #mc_embed_signup .mc-field-group input[type="text"], body #mc_embed_signup .mc-field-group input[type="email"] {
      box-sizing: border-box;
      font-family: inherit;
      font-size: inherit;
      padding: 1.4em 20px 0.7em;
      text-indent: 0px;
      border: 2px solid #dcd1b7; }
    body #mc_embed_signup .mc-field-group input.email {
      padding: 1.4em 20px 0.7em;
      border: 2px solid #dcd1b7; }
    @media only screen and (min-width: 480px) {
      body #mc_embed_signup .mc-field-group.left {
        float: left;
        width: 48%; }
      body #mc_embed_signup .mc-field-group.right {
        clear: none;
        float: right;
        width: 50%;
        margin-left: 2%; } }
  body #mc_embed_signup .mc-field-group-email {
    margin-top: 1em;
    width: 100%; }

#mc_embed_signup #mc-embedded-subscribe-form .mc-field-group input.mce_inline_error {
  border-color: #db7c2c; }

#mc_embed_signup #mc-embedded-subscribe-form .mc-field-group div.mce_inline_error {
  color: #db7c2c; }

.bloop-bloop-shop tel {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: inline;
  font-weight: 300;
  font-size: 0.8em; }
.bloop-bloop-shop #main-title {
  font-size: 2.2em;
  font-family: "freight-sans-condensed-pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1;
  margin-top: 1em;
  margin-bottom: 2em; }
  .bloop-bloop-shop #main-title .tagline {
    font-family: "freight-sans-pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.8em;
    margin-top: 0.2em;
    display: block;
    font-weight: normal; }
    .wf-loading .bloop-bloop-shop #main-title .tagline, .wf-inactive .bloop-bloop-shop #main-title .tagline {
      letter-spacing: -0.03em;
      font-weight: 200;
      line-height: 1.1; }
  .wf-loading .bloop-bloop-shop #main-title, .wf-inactive .bloop-bloop-shop #main-title {
    letter-spacing: -0.03em;
    font-weight: 900;
    font-size: 1.9em;
    line-height: 1.4; }
.bloop-bloop-shop .content {
  font-size: 0.9em;
  line-height: 1.25; }
  .bloop-bloop-shop .content ul {
    padding-left: 0;
    margin-left: 1em; }
    .bloop-bloop-shop .content ul > li {
      margin-bottom: 0.5em; }
.bloop-bloop-shop h1 {
  margin-top: 2em;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.4em;
  line-height: 1.1; }
  @media only screen and (min-width: 768px) {
    .bloop-bloop-shop h1 {
      text-align: center; } }
.bloop-bloop-shop h2 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 2em 0;
  line-height: 1.1; }
.bloop-bloop-shop .img-responsive {
  width: 100%;
  height: auto;
  display: block; }
.bloop-bloop-shop .text-center {
  text-align: center; }
.bloop-bloop-shop .demo-images .demo-image {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 172.79%;
  background-color: #ccc;
  margin-bottom: 10px; }
  @media only screen and (min-width: 768px) {
    .bloop-bloop-shop .demo-images .demo-image {
      width: 48%;
      padding-bottom: 82.9392%; } }
  .bloop-bloop-shop .demo-images .demo-image .legend {
    position: absolute;
    text-align: center;
    width: 85%;
    top: 60%;
    left: 50%;
    transform: translateX(-50%); }
  .bloop-bloop-shop .demo-images .demo-image.light-text .legend, .bloop-bloop-shop .demo-images .demo-image.light-text .legend a {
    color: white; }
@media only screen and (min-width: 768px) {
  .bloop-bloop-shop .left {
    float: left; }
  .bloop-bloop-shop .right {
    float: right; }
  .bloop-bloop-shop .demo-images {
    zoom: 1; }
    .bloop-bloop-shop .demo-images:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; } }
.bloop-bloop-shop .clarification {
  background: rgba(253, 234, 152, 0.3);
  padding: 1em; }
@media (max-width: 768px) {
  .bloop-bloop-shop .hide-mobile {
    display: none; } }
.bloop-bloop-shop .byline {
  font-size: 1.2em;
  font-weight: italic;
  margin-top: -3em;
  margin-bottom: 3em; }
  @media only screen and (min-width: 768px) {
    .bloop-bloop-shop .byline {
      text-align: center; } }

/*# sourceMappingURL=style.css.map */
